
@keyframes pulse {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
	}

	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
	}

	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
	}
}

body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background: beige;
    max-width: 800px;
    margin: 2% 30%;
    text-align: center;
}



.instructions {
    margin-top: 30px;
}

h1 {
    font-size: 37px;
}


button {
    width: 300px;
    height: 40px;
    border-radius: 30px;
    margin-top: 30px;
    margin-bottom: 40px;
    font-size: 18px;
    background: #a4d7e1;
    border: black;
    box-shadow: 2px 2px 2px rgb(210, 210, 210);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    transition-duration: 0.25s;
    margin-left: 10px;
    margin-right: 10px;
}

a {
    display: block;
}



button:hover {
    background-color: #44c0d8;

}

.food {
    width: 200px;
}

.regenerateButton {
    margin-top: 5px;
    width: 350px;
}

#secondInstruction {
    margin-top: 40px;
}

h3 {
    margin-top: 40px;
}

p {
    font-size: 18px;
}

input {
    width: 140px;
    height: 30px;
    font-size: 15px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border-radius: 5px;
}



select {
    width: 140px;
    height: 30px;
    font-size: 15px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.recipe h2 {
    font-weight: 550;
    text-decoration: underline;
}

#recipeName {
    margin-top: 30px;
}

.recipeImage {
    border-radius: 30px;
    width: 350px;
}

.footer {
    margin-top: 50px;
}