
body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background: beige;
    max-width: 800px;
    margin: 2% 30%;
    text-align: center;
}

.intro {
    font-weight: 600;
}

.instructions {
    margin-top: 30px;
}

h1 {
    font-size: 37px;
}


button {
    width: 300px;
    height: 40px;
    border-radius: 30px;
    margin-top: 30px;
    margin-bottom: 40px;
    font-size: 18px;
    background: white;
    border: black;
    box-shadow: 2px 2px 2px rgb(210, 210, 210);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

.food {
    width: 200px;
    margin: 20px 10px 20px 10px;
    background: rgb(247, 247, 247);
    

}

#secondInstruction {
    margin-top: 40px;
}

h3 {
    margin-top: 40px;
}

p {
    font-size: 18px;
}

input {
    width: 140px;
    height: 30px;
    font-size: 15px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border-radius: 5px;
}

select {
    width: 140px;
    height: 30px;
    font-size: 15px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.recipe h2 {
    font-weight: 550;
    text-decoration: underline;
}

#recipeName {
    margin-top: 30px;
}

.recipeImage {
    border-radius: 30px;
    width: 350px;
}

.footer {
    margin-top: 80px;
}